html {
  -webkit-text-size-adjust: none;
}

.video embed,
.video object,
.video iframe {
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  nav {
    width: 100%;
  };
}

@media only screen and (max-width: 767px) {
  header #logo,
  header #search-box {
    margin: 0 auto;
    text-align: center;
  }

  nav {
    width: 100%;
    background: none;
    height: auto;
  }

  nav ul li {
    float: none;
    background: #006699 url(../images/lines2.png);
    text-align: center;
  }

  #content {
    background-color: #ffffff;
  };
}
