/* ---------------------Reset----------------------- */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
tdvideo,
tt,
u,
ul,
var {
  background: transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table,
table td {
  padding: 0;
  border: none;
  border-collapse: collapse;
}

img {
  vertical-align: top;
}

embed {
  vertical-align: top;
}

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
  display: block;
}

mark,
rp,
rt,
ruby,
summary,
time {
  display: inline;
}

input,
textarea,
select {
  border: 1;
  padding: 2px;
  margin: 5px;
  outline: 0;
}

iframe {
  border: 0;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 18px;
  padding: 10px 0px 5px 0px;
}

hr {
  display: block;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  border-style: inset;
  border-width: 1px;
}
/* -------------------------------------------- */
/* ------------------Style---------------------- */
/* -------------------------------------------- */

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e2e2e2;
  color: #292929;
  font: 14px/25px Arial, Helvetica, sans-serif;
}
/*-------------------------*/

a {
  color: #006699;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a.button,
input.button {
  cursor: pointer;
  color: #808080;
  line-height: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  background: #e4e4e4;
  border: 1px solid #dfdfdf;
}

a.button {
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px 6px 12px;
}

input.button {
  margin: 0;
  border: 0;
  height: 24px;
  padding: 0px 12px 0px 12px;
}

a.button:hover,
input.button:hover {
  background: #006699;
  color: #ffffff;
}
/*-------------header */

header {
  height: 145px;
  width: 100%;
  background: url('../images/bg-header-strip.png') repeat-x;
  margin-bottom: 15px;
}

header #logo {
  margin-top: 20px;
}

header #search-box {
  position: relative;
  width: 300px;
  margin-top: 12px;
}

header #search-form {
  height: 25px;
  border: 1px solid #999;
  background-color: #fff;
  overflow: hidden;
}

header #search-text {
  font-size: 14px;
  color: #ddd;
  background: transparent;
}

header #search-box input[type="text"] {
  width: 65%;
  padding: 5px 0 5px 1em;
  color: #333;
  outline: none;
}

header #search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 27px;
  width: 80px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 26px;
  background-color: #999;
  cursor: pointer;
  border: 0px;
}
/*------------menu */

nav {
  width: 960px;
  height: 37px;
  margin: 0 auto 15px auto;
  background: #006699 url(../images/lines2.png);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
  float: left;
  padding: 6px 5px 0px 5px;
}

nav ul li:hover {
  background: #006699 url('../images/lines.png');
}

nav ul li a {
  font-size: 13px;
  line-height: 14px;
  color: #ffffff;
  display: block;
  padding: 6px 10px 6px 10px;
  margin-bottom: 5px;
  z-index: 6;
  position: relative;
  font-weight: bold;
}

.block {
  padding: 10px 0px;
  background: #ffffff;
}

.main-content article {
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}

.main-content .heading h2 {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -1px;
  font-weight: bold;
}

.main-content .heading .info {
  font-size: 12px;
  font-style: italic;
}

.main-content .content img {
  float: left;
  margin: 3px 30px 0px 0;
  border: #bdbdbd 5px solid;
}

.main-content .footer .more {
  float: right;
}

.main-content .footer .more a {
  text-decoration: none;
}

.sidebar section {
  margin-bottom: 20px;
}

.sidebar .heading {
  color: #ffffff;
  background: #006699 url('../images/boxtitle.png') no-repeat left center;
  font-size: 18px;
  font-weight: normal;
  padding: 10px 10px 10px 50px;
}

.sidebar .content {
  padding: 15px;
}

.sidebar .content img {
  float: left;
  margin: 5px;
  border: #bdbdbd 5px solid;
}

.featured {
  width: 100%;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
}

ul.list li {
  padding: 0px 0 5px 12px;
  line-height: 25px;
  background: url(../images/marker-1.gif) 0 11px no-repeat;
}

ul.list li a {
  font-size: 14px;
  color: #292929;
  line-height: 25px;
}

ul.list li a:hover {
  color: #006699;
  text-decoration: none;
}
/*------------footer--------- */

footer {
  padding: 20px 10px;
  background: #3f3f3f;
  margin-top: 15px;
}

footer .heading {
  color: #ffffff;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

footer .content {
  color: #ffffff;
}

footer .content img {
  float: left;
  margin: 5px;
  border: #ffffff 5px solid;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
}

footer ul li {
  list-style: circle;
  margin-left: 20px;
}

footer ul li a {
  font-size: 14px;
  color: #ffffff;
}

footer ul li a:hover {
  color: #006699;
  text-decoration: none;
  cursor: pointer;
}
/*-------------copyright*/

#copyright {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: url(../images/bg-footer-strip.png);
  padding: 8px 0px;
  color: #ffffff;
}

.field-name-field-tags a {
  background: #006699;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  color: #fff;
  padding: 2px 6px;
  float: left;
}

.links li a {
  background-color: #e7e5e3;
  color: #100100;
  padding: 4px 5px;
  border-radius: 4px;
  text-shadow: 1px 1px #fff;
  font-weight: normal;
  float: left;
  margin-right: 5px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  width: 64%;
  padding: 3px 0 5px 1em;
  color: #333;
  outline: none;
}

#search-box input[type="submit"] {
  margin-left: 0px;
  margin-right: 0;
  position: absolute;
  top: 10px;
  right: 0;
  height: 29px;
  width: 80px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 26px;
  background-color: #999;
  cursor: pointer;
  border: 0px;
}

.tabs ul.primary li {
  display: block;
  float: left;
  vertical-align: bottom;
  margin: 0 5px 0 0;
  background: #eee;
  border-bottom: 1px solid #aaa;
}

.tabs ul.primary li a {
  display: block;
  padding: 0px 14px 0px 14px;
}
